{% include 'layouts/header.html' %}

{% if authors %}

 <div class="ui  stackable cards">
    {% for author in authors %}
    <div class="card">
    <div class="image">
      <img src="{{author.img.url}}">
    </div>
    <div class="content">
      <a href="{% url 'bookstore:authordetails' author.id %} " class="header">{{author.name}}</a>
    </div>
        <div class="ui bottom attached button primary author-follow" data-id="{{ author.id }}">
            {% for status in author.authorfollow_set.all %}
                {% if status.profile_id == request.user.id and status.followStatus == 0 %}
                    <i class="add user large  icon"></i>
                    <span>Follow</span>
                {% else %}
                    <i class="remove user large  icon"></i>
                    <span>Un Follow</span>
                {% endif %}
            {% endfor %}
        </div>
    </div>
     {% endfor %}
</div>
{% else %}
There Is No Authors Yet
{% endif %}

{% include 'layouts/footer.html' %}