{% include 'layouts/header.html' %}
{% if authors %}
{% for author in authors %}

<p>{{author.name}}

    <button id="follow_btn" class="ui button" data-id="{{author.id}}"
            data-followstatus="{{author.authorfollow_set.first.followStatus }}">
        {% if current_user  in author.authorfollow_set.all %}
        Follow
        {% else %}
        UnFollow
        {% endif %}

    </button>
</p>

{% endfor %}
{% else %}
There Is No Authors Yet

{% endif %}

{% include 'layouts/footer.html' %}