{% include 'layouts/header.html' %}
{% load followTag  %}
{% if authors %}

 <div class="ui  stackable cards">
    {% for author in authors %}
    <div class="card">
    <div class="image">
      <img src="{{author.img.url}}">
    </div>
    <div class="content">
      <a href="{% url 'bookstore:authordetails' author.id %} " class="header">{{author.name}}</a>
    </div>
        <div class="ui bottom attached button primary author-follow" data-id="{{ author.id }}">
            {%   get_follow request.user author %}
        </div>
    </div>
     {% endfor %}
</div>
{% else %}
There Is No Authors Yet
{% endif %}
{% include 'layouts/footer.html' %}