{% include 'layouts/header.html' %}

<h3>Books :</h3>
<ul>
    {% for book in books %}
    <div class="card" style="width: 20rem;">
  <img class="card-img-top" src="pics/{{book.img}}" alt="Card image cap"/>
  <div class="card-block">
    <h4 class="card-title">{{book.name}}</h4>
    <p class="card-text">{{book.summary}}</p>
    <a href="{% url 'bookstore:bookdetails' book.id %} " class="btn btn-primary">Book Details</a>
  </div>
</div>

    {% endfor %}
</ul>

{% include 'layouts/footer.html' %}