{% include 'layouts/header.html' %}

{% if books %}
 <div class="ui  stackable cards">
     {% for book in books %}
  <div class="card">
    <div class="image">
      <img src="{{book.img.url}}">
    </div>
    <div class="content">
      <a href="{% url 'bookstore:bookdetails' book.id %} " class="header">{{book.name}}</a>
      <div class="meta">
        <a>{{book.author.name}}</a>
      </div>
      <div class="description">
        {{book.summary}}
      </div>
    </div>
    <div class="extra content">
      <span class="right floated">
        Published in {{book.published_at}}

      </span>
      <span>
        <i class="large thumbs up  icon"></i>
        Rating

          {% for rate in book.rating_set.all %}
              {% if rate.profile_id == request.user.id %}
                  <div class="ui large star rating" data-id="{{book.id}}" data-rating="{{ rate.rate }}"></div>
              {% endif %}
          {% endfor %}
          {% if book.rating_set.count == 0 %}
              <div class="ui large star rating"  data-id="{{book.id}}" data-rating="0"></div>
          {% endif  %}

      </span>
    </div>
    <div class="extra content">
      <div class="ui buttons">
          <button data-id="{{book.id}}"  class="ui button read-status">
          {% for status in book.status_set.all %}
              {% if status.profile_id == request.user.id and status.status == 2 %}
                  <i class="Checkmark icon"></i>
              {% endif %}
          {% endfor %}
              <span>Read</span>
          </button>
          <div class="or"></div>
          <button data-id="{{book.id}}" class="ui positive button wish-status">
          {% for status in book.status_set.all %}
                {% if status.profile_id == request.user.id and status.status == 3 %}
                  <i class="Checkmark icon"></i>
                {% endif %}
          {% endfor %}
              Wish
          </button>
      </div>
    </div>
  </div>
     {% endfor %}
</div>
{% else %}
 There Is No Books Yet
{% endif %}

{% include 'layouts/footer.html' %}