{% include 'layouts/header.html' %}


 <div class="ui  stackable cards">
     {% for book in books %}
  <div class="card">
    <div class="image">
      <img src="{{book.img.url}}">
    </div>
    <div class="content">
      <a href="{% url 'bookstore:bookdetails' book.id %} " class="header">{{book.name}}</a>
      <div class="meta">
        <a>{{book.author.name}}</a>
      </div>
      <div class="description">
        {{book.summary}}
      </div>
    </div>
    <div class="extra content">
      <span class="right floated">
        Published in {{book.published_at}}

      </span>
      <span>
        <i class="large thumbs up  icon"></i>
        Rating
        <div class="ui large star rating" data-id="{{book.id}}" data-rating="{{book.rating_set.last.rate}}"></div>
      </span>
    </div>
    <div class="extra content">
      <div class="ui buttons">
          <button class="ui button">
              <i class="Checkmark icon"></i>
              Read
          </button>
          <div class="or"></div>
          <button class="ui positive button">Wish</button>
      </div>
    </div>

  </div>
     {% endfor %}
</div>

{% include 'layouts/footer.html' %}

