{% include 'layouts/header.html' %}

<form class="form-group" method="post">
    {% csrf_token %}

    <p>
    <label for="email">Email :</label>
    <input type="email" name="email" placeholder="email"/>
   </p>

    <p>
    <label for="password">Password :</label>
    <input type="password" name="password" placeholder="password"/>
   </p>


    <input type="submit" class="btn btn-primary" value="Login"/>
</form>

<a href="{ % url 'bookstore:register' % }">Register Now</a>

{% include 'layouts/footer.html' %}