{% include 'layouts/header.html' %}
{% if errors %}
<div class="alert alert-warning">
    {% for error in errors %}
    <li>{{ error }}</li>
    {% endfor %}
</div>
{% endif %}
<form class="form-group" method="post">
    {% csrf_token %}

    <div>
        <label for="email">User Name :</label>
        <input type="text" name="username" placeholder="username"/>
    </div>

    <div>
        <label for="password">Password :</label>
        <input type="password" name="password" placeholder="password"/>
    </div>


    <input type="submit" class="btn btn-primary" value="Login"/>
</form>

<a href="{ % url 'bookstore:register' % }">Register Now</a>

{% include 'layouts/footer.html' %}