{% include 'layouts/header.html' %}

<form class="form-group" method="post">
    {% csrf_token %}
   <p>
    <label for="name">Name :</label>
    <input type="text" name="name" placeholder="enter your name"/>
   </p>

    <p>
    <label for="email">Email :</label>
    <input type="email" name="email" placeholder="enter your email"/>
   </p>

    <p>
    <label for="password">Password :</label>
    <input type="password" name="password" placeholder="password"/>
   </p>

    <p>
    <label for="repassword">Re-type Password  :</label>
    <input type="text" name="repassword" placeholder="your password again"/>
   </p>




    <input type="submit" class="btn btn-primary" value="Register"/>
</form>

{% include 'layouts/footer.html' %}