<html>
<head>
    <title>index</title>
    {% load static %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>

<body>
<div class="ui attached stackable menu">
    <div class="ui container">
         {% if user.is_authenticated %}
        <a href="{% url 'bookstore:site' %}" class="item">
            <i class="home icon"></i> Home
        </a>

        <a href="{% url 'bookstore:home' %}" class="item">
            <i class="book icon"></i> Book Store
        </a>

        <a href="{% url 'bookstore:categories' %}" class="item">
            <i class="book icon"></i> Categories
        </a>

        <a href="{% url 'bookstore:authors' %}" class="item">
            <i class="book icon"></i> Authors
        </a>
        {% endif %}
        <div class="right item">
            {% if user.is_authenticated %}
            <div class="ui input"><input type="text" placeholder="Search..."></div>
            <a href="{% url 'bookstore:logout' %}" class="item">
                <i class="sign out icon"></i> Sign Out
            </a>
            {% else%}
            <a href="{% url 'bookstore:login' %}" class="item">
                <i class="sign in icon"></i> Sign In
            </a>
            <a href="{% url 'bookstore:register' %}" class="item">
                <i class="add user icon"></i> Sign Up
            </a>
            {% endif %}
            {% if user.is_superuser %}
                <a href="/admin" class="item">
                <i class="large dashboard icon"></i> Dashboard
            </a>
            {% endif %}
        </div>
    </div>
</div>
<div class="ui raised  container segment">